# OAuth2 Server Configuration
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_AUTHORIZE_URL=
OAUTH_TOKEN_URL=
OAUTH_SCOPES=

# Application Configuration (this app)
# Make sure this redirect URI is registered with your OAuth2 provider
REDIRECT_URI=http://localhost:3000/callback
PORT=3000

# Development Configuration
# Set to 'true' to allow connections to an OAuth2 server using a self-signed SSL certificate.
# USE FOR LOCAL DEVELOPMENT ONLY.
ALLOW_SELF_SIGNED_CERT=false
